* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f0f0f;
  color: #000000;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(135deg, #111, #1c1c1c);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3.5rem;
  color: #ffffff;
}

.hero p {
  margin: 15px 0;
  color: #aaa;
}

.btn {
  padding: 12px 30px;
  background: #444;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  transition: 0.3s;
}

.btn:hover {
  background: #777;
}

/* SECTIONS */
section {
  padding: 70px 10%;
}

h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  border-left: 5px solid #555;
  padding-left: 15px;
}

/* PROJECTS */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: #1a1a1a;
  padding: 25px;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  background: #222;
}

/* SKILLS */
.skills-list span {
  display: inline-block;
  margin: 8px;
  padding: 10px 20px;
  background: #222;
  border-radius: 20px;
  font-size: 0.9rem;
}

/* CONTACT */
.contact a {
  color: #bbb;
  text-decoration: none;
}

.contact a:hover {
  color: #fff;
}
